@import "../Colors.scss";

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  display: flex;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  color: black;
}

.NoteList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 25px;

  .NoteForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .NoteLabel {
      font-size: 14px;
      font-weight: 700;
    }

    .Title {
      border: none;
      width: 300px;
      border-radius: 4px;
      padding: 10px;
    }
    .Content {
      border: none;
      overflow: none;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      resize: none;
      width: 300px;
      border-radius: 4px;
      padding: 10px;
      font-family: "Nunito Sans", sans-serif;
      font-size: 14px;
    }

    .ButtonContainer {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .Notes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 400px;
    overflow: auto;

    .Note {
      display: flex;
      flex-direction: column;
      color: black;
      background-color: $yellow;
      width: 300px;
      border-radius: 5px;
      gap: 25px;
      padding: 0px 0px 15px;

      .NoteHeader {
        width: 100%;
        background-color: $tangerine;
        padding: 5px 15px;
        border-radius: 4px 4px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .IconButton {
          font-size: 14px;
          color: $blue;
          cursor: pointer;
        }
      }

      .Edit {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;

        .EditTitle {
          border: none;
          border-radius: 4px;
          padding: 10px;
          width: 280px;
          font-family: "Nunito Sans", sans-serif;
          color: $darkblue;
        }

        .EditContent {
          border: none;
          overflow: none;
          border-radius: 4px;
          padding: 10px;
          width: 280px;
          outline: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          resize: none;
          font-size: 14px;
          font-family: "Nunito Sans", sans-serif;
          color: $darkblue;
        }
      }
      .NoteContent {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        h1 {
          font-size: 16px;
          width: 250px;
          text-align: center;
          font-family: "Roboto Mono", sans-serif;
          color: $darkblue;
        }
        p {
          width: 250px;
          font-size: 14px;
          color: $darkblue;
        }
      }
    }
  }
}
